@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.form {
    padding: 1rem 2rem;
    @include bodyCopyMobile();

    &__area {
        display: flex;
        flex-direction: column;
        gap: 1rem;  
    }
  

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
    }

    &__quantity {
        flex: 1;
    }

    &__checkarea {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    &__box {
        display: flex;
        flex-direction: row;

    }

    &__button {
        padding: 1rem 5rem;
        border: 1px solid $Color-Mustard;
        background: $Color-Mustard;
        border-radius: 3.125rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        margin-top: 1rem;

        &:hover, &:active {
            background: $Color-DarkGray;
            border: 1px solid $Color-DarkGray;
            color: $Color-Mustard;
            cursor: pointer;
        }
    }
}

input, textarea {
    font-size: 1rem;
}