// Nexa -- //

@font-face {
    font-family: Nexa;
    src: url("../assets/fonts/Nexa\ Light.otf");
    font-weight: Light;
    font-style: normal;
}

@font-face {
    font-family: Nexa;
    src: url("../assets/fonts/Nexa\ Regular.otf");
    font-weight: Regular;
    font-style: normal;
}

@font-face {
    font-family: Nexa;
    src: url("../assets/fonts/Nexa\ Bold.otf");
    font-weight: Bold;
    font-style: normal;
}
