@use '../partials/variables' as *;
@use '../partials/fonts' as *;

//MOBILE

@mixin largeHeadingMobile() {
  font-size: 4rem;
  line-height: 1;
}

@mixin headingMobile() {
  font-size: 1.125rem;
  line-height: 1;
}

@mixin bodyCopyMobile() {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}

@mixin bodyCopyLightMobile() {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: Light;
}

@mixin labelMobile() {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}

//TABLET

@mixin largeHeadingTablet() {
  font-size: 9rem;
  line-height: 1;
}

@mixin headingTablet() {
  font-size: 2.5rem;
  line-height: 1.2;
}

@mixin bodyCopyTablet() {
  font-size: 1.5rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}

@mixin smallBodyCopyTablet() {
  font-size: 1rem;
  line-height: 0.9375rem;
  font-weight: Light;
}

@mixin labelTablet() {
  font-size: 0.85rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}

//DESKTOP

@mixin largeHeadingDesktop() {
  font-size: 9rem;
  line-height: 1;
}

@mixin headingDesktop() {
  font-size: 2.5rem;
  line-height: 1.2;
}

@mixin bodyCopyDesktop() {
  font-size: 1.5rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}

@mixin smallBodyCopyDesktop() {
  font-size: 1rem;
  line-height: 0.9375rem;
  font-weight: Light;
}

@mixin labelDesktop() {
  font-size: 1rem;
  line-height: 0.9375rem;
  font-weight: Regular;
}


//Media Formatting ----------------------------------------- //

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }