// Global Colors -- //
$Color-LightGray: #606060;
$Color-DarkGray: #222629;
$Color-Mustard: #FDB817;
$Color-White: #FFFFFF;




//Media screen breakpoints --//

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;