@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.deliveryinfo {
    padding: 1rem;
    width: 100%;

    &__area {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 1rem 0;

        border-bottom: 0.25px solid rgba($Color-DarkGray, 0.3);
    }
    &__bottle {
        max-width: 2rem;
        max-height: 3rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }
}