@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.deliveryinfo {
    padding: 1rem;
    width: 100%;

    &__heading {
        display: none;

        @include tablet {
            display: flex !important;
            font-size: 0.75rem;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 1.3rem 0 2rem;
            padding-left: 1rem;
    
            border-radius: 3.125rem;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
            height: 2.5rem;
        }

        @include desktop {
            font-size: 1rem;
        }
    }

    &__area {
        @include bodyCopyMobile();
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
        }
        @include desktop {
            font-size: 1rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    
    &__bottle {
        max-width: 2rem;
        max-height: 3rem;

        @include desktop {
            max-width: 3rem;
            max-height: 4rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center
    }

    &__editbutton {
        @include bodyCopyMobile();

        padding: 0.5rem 0.75rem;
        width: 4rem;
        background-color: $Color-Mustard;
        border-radius: 3.125rem;
        border: none;
        color: $Color-DarkGray;

        &:hover {
            color: $Color-White;
            background-color: $Color-DarkGray;
            cursor: pointer;
        }

        @include desktop {
            font-size: 1rem;
            padding: 0.75rem 1rem;
            width: 6rem;

        }

    }

    &__labelempty{
        color: $Color-White;
    }

    &__address{
        color: $Color-LightGray;
    }

    &__label {
        font-size: 0.75rem;
        color: $Color-Mustard;
        @include tablet {
            display: none;
        }
    }
}