@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.footer {
    padding: 1rem;
    color: $Color-Mustard;
    background-color: $Color-Black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__bottle {
        max-height: 80px;
        max-width: 80px;
    }

    &__information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   }
