@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.footer {
    padding: 1rem;
    color: $Color-Mustard;
    background-color: $Color-Black;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include tablet {
        padding: 2rem;
        align-items: flex-start;
        flex-direction: row;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        @include tablet {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }
    }

    &__right {
        @include tablet {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }

    &__logo {
        max-width: 10rem;

        @include tablet {
            max-width: 12rem;
        }
    }

    &__bottle {
        max-height: 4rem;
        max-width: 4rem;
    }

    &__information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            gap: 0.75rem;
        }
    }

    &__textarea {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }

    &__iconStatic{
        width: 1.5rem;
        height: 1.5rem;
        fill: $Color-Mustard;

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__icon{
        width: 1.5rem;
        height: 1.5rem;
        fill: $Color-Mustard;

        &:hover {
            fill: $Color-White;
        }

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    

    &__box {
        padding-top: 0.5rem;
        @include tablet {
            display: none;
            padding-top: 0;;
        }
    }

    &__boxTwo {
        display: none;
        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            justify-content: flex-end;
            padding-top: 0.5rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
    }

    &__subheading {
        @include tablet {
            @include smallBodyCopyTablet();
        }
    }

    &__large {
        font-size: 1.5rem;
        @include tablet {
            @include headingTablet();
            font-size: 2rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            align-items: flex-start;
            width: 100%;
        }
    }

    &__textbox {
        border: none;
        flex:4;
        padding: 0.5rem 0.75rem;
        height: 2.5rem;
        width: 10rem;
        border-top-left-radius: 3.125rem;
        border-bottom-left-radius: 3.125rem;

        &:active, &:focus {
            outline: none;
        }
    }

    &__button {
        flex:2;
        height: 2.5rem;
        width: 5rem;
        padding: 0.5rem 0.75rem;
        border-top-right-radius: 3.125rem;
        border-bottom-right-radius: 3.125rem;
        background-color: $Color-Mustard;
        color: $Color-DarkGray;
        border: none;
        align-self: left;

        &:hover {
            background-color: $Color-LightMustard;
            color: $Color-White;
        }
    }

    &__buttonArea {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

   }
