@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.landing {
   
    &__container {
        display: grid;
        place-items: center;
        position: relative;
    }

    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;

        position: relative;
    }

    &__overlay {
        position: absolute;
        z-index: 1;
    }

    &__heading {
        color: $Color-Mustard;
        
    }

    &__two {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    &__topText {
        flex: 1;
        width: 100%;
        font-size: 6rem;
        line-height: 1;
    }

    &__under {
        flex: 1;
        font-size: 1.7rem;
        width: 100%;
        text-align: left;
        line-height: 1;
    }


}