@use '../../partials//global' as *;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.landing {

    &__image {
        object-fit: cover;
        height: 30vh;
        width: 100%;
    }
}